<div class="container">

  <h1>Sign in</h1>
  <div class="col-12 card">

    <%= form_for(@user, url: login_path) do |f| %>

      <%= render 'shared/error_messages' %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <%= f.submit :class=> 'btn btn-default' %>
    <% end %>
  </div>
</div>

