<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="container">
  <div class="col-12">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="form-group">
        <%= f.label :height %>
        <%= f.text_field :height %>
      </div>

      <div class="form-group">
        <%= f.label :weight %>
        <%= f.text_field :weight %>
      </div>

      <%= f.submit :class=> 'btn btn-default' %>
    <% end %>
  </div>
</div>
